In [34]:
#import dependencies

from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [35]:
#paths

#executable_path = {"executable_path" :'chromedriver.exe'}
#browser = Browser('chrome', **executable_path, headless=False)
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\znikr\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

# MARS NEWS

In [36]:
#URL DATA
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [37]:
#parsing
html = browser.html
soup = bs(html, "html.parser")

In [38]:
#get news text 
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print(news_p)

Mars Now
The giant canopy that helped land Perseverance on Mars was tested here on Earth at NASA’s Wallops Flight Facility in Virginia.

# MARS IMAGES

In [39]:
#Image scraping

base_img_url = "https://data-class-jpl-space.s3.amazonaws.com/"
index_img_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(index_img_url)
img_button = browser.links.find_by_partial_text('FULL IMAGE')
img_button.click()

In [40]:
# parsing
image_html = browser.html
img_soup = BeautifulSoup(image_html, 'html.parser')

In [41]:
img_url = img_soup.select_one('img.fancybox-image').get("src")
fateured_image_url = base_img_url + img_url
fateured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/image/featured/mars2.jpg'

## MARS FACTS

In [42]:
#facts url
facts_url= "https://space-facts.com/mars/"
browser.visit(facts_url)

In [43]:
#parsing
html = browser.html
soup = bs(html, "html.parser")

In [33]:
#fact rable
facts = pd.read_html(facts_url)
facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [46]:
mars_facts = facts[0]
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers